# Node.js
node_modules/

# Dependências do NPM
package-lock.json

# Diretórios temporários de build
dist/
build/

# Arquivos gerados
*.log
*.env
*.bak
*.swp
*.config
*.CONFIG

# Pasta de uploads temporários
src/public/statics/input/uploads

# Arquivos de configuração do editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos específicos de IDEs
*.iml

# Arquivos específicos de ambientes de contêineres
*.dockerignore
